*.local
.DS_Store
.eslintcache
.next
.pnpm-debug.log*
bench
cache
coverage
dist
node_modules
tsconfig*.tsbuildinfo

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local